name: vits-zh-aishell3

on:
  push:
    branches:
      - download
  workflow_dispatch:

jobs:
  vits-zh-aishell3:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Convert model
        shell: bash
        run: |
          cd .github/scripts
          ./vits-zh-aishell3.sh

      - name: Upload model
        shell: bash
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          cd .github/scripts/vits_chinese

          git lfs install
          git clone https://huggingface.co/csukuangfj/vits-zh-aishell3 huggingface

          git config --global user.email "csukuangfj@gmail.com"
          git config --global user.name "Fangjun Kuang"

          cp aishell3/*.onnx ./huggingface/
          cp aishell3/lexicon.txt ./huggingface/
          cp aishell3/tokens.txt ./huggingface/

          cd huggingface
          git add .
          git commit -m "update model"
          git push https://csukuangfj:$HF_TOKEN@huggingface.co/csukuangfj/vits-zh-aishell3 main
          cd ..
          rm -rf huggingface


      - name: Download model
        shell: bash
        run: |
          git lfs install
          git clone https://huggingface.co/csukuangfj/vits-zh-aishell3
          rm -rf vits-zh-aishell3/.git
          rm -v vits-zh-aishell3/*.pth

          sudo apt-get install -y tree
          tree ./vits-zh-aishell3
          ls -lh ./vits-zh-aishell3

      - uses: actions/upload-artifact@v3
        with:
          name: vits-zh-aishell3
          path: vits-zh-aishell3
